# -*- mode: snippet -*-
# name: defpackage
# key: defpackage
# expand-env: ((test-p (string-prefix-p "test-" (file-name-nondirectory (buffer-file-name)))))
# --
(defpackage :${1:`(replace-regexp-in-string ".lisp$" "" (replace-regexp-in-string "^.*/src/" "" (buffer-file-name)))`}
  (:use #:cl`(if test-p "\n#:fiveam")`)
  (:local-nicknames (#:a #:alexandria)))
(in-package :$1)
`(if test-p "\n\n(util/fiveam:def-suite)")`

$0