# -*- mode: snippet -*-
# name: defpackage
# key: defpackage
# --
(defpackage :$1
  (:use :cl
        :alexandria `(if (string-prefix-p "test-" (file-name-nondirectory (buffer-file-name))) "\n:fiveam" "")`$0))
(in-package :$1)

$0
