# -*- mode: snippet -*-
# name: blog-tag
# key: blog-tag
# expand-env: ((class-name (file-name-sans-extension (file-name-nondirectory (buffer-file-name)))))
# --
private static final Class<?> TAG = `class-name`.class;
