# -*- mode: snippet -*-
# name: test-template
# key: test-template
# --
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from __future__ import unicode_literals

import unittest

class $1(unittest.TestCase):
    def setUp(self):
        pass

    def tearDown(self):
        pass

    ${0:pass}

if __name__ == '__main__':
    unittest.main()
